@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="~/assets/file.pdf" target="_blank">blankリンク</a><br />
<a href="~/assets/file.pdf" target="ファイル😃">ファイル名リンク</a><br />
<a href="~/assets/file.pdf" target="abcd-efgh-0000">idリンク</a><br />
